*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container{
    padding: 50px;
    background-color: #EAEAEA;
    width: 600px;
    height: 300px;
    border: 1px solid white;
    position: relative;
}

h1{
    color: #231751;
    font-size: 24px;
}

.a{
    text-align: left;
}

.b{
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #d63c3c;
    color: white;
}

.e{
    color: black;
    font-weight: 200px;
    font-size: 20px;
}
.c{
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: black;
} 

